test/nest-test.txt
[
    {
        "id": "e52db294.b9ad3",
        "type": "tab",
        "label": "NestTest",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a66ecd02.cbce88",
        "type": "function",
        "z": "e52db294.b9ad3",
        "name": "ambient_temperature",
        "func": "msg.topic = \"ambient_temperature\";\nglobal.set(\"nesttest-ambient\",msg.payload);\nnode.status({text:msg.payload + \"°C\"});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 760,
        "y": 140,
        "wires": [
            [
                "ef44cd6.84156b"
            ]
        ]
    },
    {
        "id": "d0f4bd64.a5d3d",
        "type": "function",
        "z": "e52db294.b9ad3",
        "name": "global target-temp",
        "func": "msg.payload = global.get(\"nesttest-target\");\nmsg.topic = 'target_temperature';\nnode.status({text:msg.payload + \"°C\"});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 752.3809509277344,
        "y": 271.66666412353516,
        "wires": [
            [
                "ef44cd6.84156b"
            ]
        ]
    },
    {
        "id": "ab4ca6b4.eb485",
        "type": "function",
        "z": "e52db294.b9ad3",
        "name": "global target-temp",
        "func": "msg.payload = global.get(\"nesttest-ambient\");\nmsg.topic = 'ambient_temperature';\nnode.status({text:msg.payload + \"°C\"});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 752.3809509277344,
        "y": 331.66666412353516,
        "wires": [
            [
                "ef44cd6.84156b"
            ]
        ]
    },
    {
        "id": "8fbb93cb.0f593",
        "type": "function",
        "z": "e52db294.b9ad3",
        "name": "global color-state",
        "func": "msg.payload = global.get(\"nesttest-state\");\nmsg.topic = \"hvac_state\";\nnode.status({text:msg.payload});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 752.3809509277344,
        "y": 391.66666412353516,
        "wires": [
            [
                "ef44cd6.84156b"
            ]
        ]
    },
    {
        "id": "49101337.bcb164",
        "type": "function",
        "z": "e52db294.b9ad3",
        "name": "global target-temp",
        "func": "msg.payload = global.get(\"nesttest-leaf\");\nmsg.topic = 'has_leaf';\nnode.status({text:msg.payload});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 752.3809509277344,
        "y": 451.66666412353516,
        "wires": [
            [
                "ef44cd6.84156b"
            ]
        ]
    },
    {
        "id": "c48ef0f1.552aa8",
        "type": "function",
        "z": "e52db294.b9ad3",
        "name": "target_temperature",
        "func": "msg.topic = 'target_temperature';\nglobal.set(\"nesttest-target\",msg.payload);\nnode.status({text:msg.payload + \"°C\"});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 610,
        "y": 620,
        "wires": [
            [
                "ef44cd6.84156b",
                "f8b3ba64.7c9eb8"
            ]
        ]
    },
    {
        "id": "63750bcc.6fb5bc",
        "type": "function",
        "z": "e52db294.b9ad3",
        "name": "Leaf",
        "func": "minleaf = 15;\nmaxleaf = 22;\ntemperature = msg.payload;\nmsg.payload=false;\nif (temperature >= minleaf){\n    if (temperature <= maxleaf){\n        msg.payload = true;\n    }\n}\nmsg.topic = \"has_leaf\";\nglobal.set(\"nesttest-leaf\",msg.payload);\nnode.status({text:msg.payload});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 650,
        "y": 660,
        "wires": [
            [
                "ef44cd6.84156b"
            ]
        ]
    },
    {
        "id": "2718653f.670472",
        "type": "ui_ui_control",
        "z": "e52db294.b9ad3",
        "name": "",
        "x": 132.38095092773438,
        "y": 371.66666412353516,
        "wires": [
            [
                "aa44331.2c1155"
            ]
        ]
    },
    {
        "id": "aa44331.2c1155",
        "type": "trigger",
        "z": "e52db294.b9ad3",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "date",
        "duration": "1",
        "extend": true,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "name": "",
        "x": 322.3809509277344,
        "y": 371.66666412353516,
        "wires": [
            [
                "83854408.b3fae8"
            ]
        ]
    },
    {
        "id": "83854408.b3fae8",
        "type": "delay",
        "z": "e52db294.b9ad3",
        "name": "",
        "pauseType": "delay",
        "timeout": "700",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 522.3809509277344,
        "y": 371.66666412353516,
        "wires": [
            [
                "d0f4bd64.a5d3d",
                "ab4ca6b4.eb485",
                "8fbb93cb.0f593",
                "49101337.bcb164"
            ]
        ]
    },
    {
        "id": "ef44cd6.84156b",
        "type": "ui_template",
        "z": "e52db294.b9ad3",
        "group": "188179f9.91f976",
        "name": "Nest",
        "order": 4,
        "width": "6",
        "height": "6",
        "format": "<div id=\"thermostat-WZ\"></div>\n\n<style>\n@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);\n#thermostat {\n  margin: 0 auto;\n  -webkit-tap-highlight-color: #FFFFFF;\n}\n.dial {\n  -webkit-user-select: none;\n     -moz-user-select: none;\n      -ms-user-select: none;\n          user-select: none;\n}\n.dial.away .dial__ico__leaf {\n  visibility: hidden;\n}\n.dial.away .dial__lbl--target {\n  visibility: hidden;\n}\n.dial.away .dial__lbl--target--half {\n  visibility: hidden;\n}\n.dial.away .dial__lbl--away {\n  opacity: 1;\n}\n.dial .dial__shape {\n  -webkit-transition: fill 0.5s;\n  transition: fill 0.5s;\n}\n.dial__ico__leaf {\n  fill: #13EB13;\n  opacity: 0;\n  -webkit-transition: opacity 0.5s;\n  transition: opacity 0.5s;\n  pointer-events: none;\n}\n.dial.has-leaf .dial__ico__leaf {\n  display: block;\n  opacity: 1;\n  pointer-events: initial;\n}\n.dial__editableIndicator {\n  fill: white;\n  fill-rule: evenodd;\n  opacity: 0;\n  -webkit-transition: opacity 0.5s;\n  transition: opacity 0.5s;\n}\n.dial--edit .dial__editableIndicator {\n  opacity: 1;\n}\n.dial--state--off .dial__shape {\n  fill: #3d3c3c;\n}\n.dial--state--heating .dial__shape {\n  fill: #E36304;\n}\n.dial--state--cooling .dial__shape {\n  fill: #007AF1;\n}\n.dial__ticks path {\n  fill: rgba(255, 255, 255, 0.3);\n}\n.dial__ticks path.active {\n  fill: rgba(255, 255, 255, 0.8);\n}\n.dial text {\n  fill: white;\n  text-anchor: middle;\n  font-family: Helvetica, sans-serif;\n  alignment-baseline: central;\n}\n.dial__lbl--target {\n  font-size: 120px;\n  font-weight: bold;\n}\n.dial__lbl--target--half {\n  font-size: 40px;\n  font-weight: bold;\n  opacity: 0;\n  -webkit-transition: opacity 0.1s;\n  transition: opacity 0.1s;\n}\n.dial__lbl--target--half.shown {\n  opacity: 1;\n  -webkit-transition: opacity 0s;\n  transition: opacity 0s;\n}\n.dial__lbl--ambient {\n  font-size: 22px;\n  font-weight: bold;\n}\n.dial__lbl--away {\n  font-size: 72px;\n  font-weight: bold;\n  opacity: 0;\n  pointer-events: none;\n}\n#controls {\n  font-family: Open Sans;\n  /*background-color: rgba(255, 255, 255, 0.25);*/\n  background-color: #FF0000;\n  padding: 20px;\n  border-radius: 5px;\n  position: absolute;\n  left: 50%;\n  -webkit-transform: translatex(-50%);\n          transform: translatex(-50%);\n  margin-top: 20px;\n}\n#controls label {\n  text-align: left;\n  display: block;\n}\n#controls label span {\n  display: inline-block;\n  width: 200px;\n  text-align: right;\n  font-size: 0.8em;\n  text-transform: uppercase;\n}\n#controls p {\n  margin: 0;\n  margin-bottom: 1em;\n  padding-bottom: 1em;\n  border-bottom: 2px solid #ccc;\n}\n</style>\n<script>\n    var thermostatDial = (function() {\n\t\n\t/*\n\t * Utility functions\n\t */\n\t\n\t// Create an element with proper SVG namespace, optionally setting its attributes and appending it to another element\n\tfunction createSVGElement(tag,attributes,appendTo) {\n\t\tvar element = document.createElementNS('http://www.w3.org/2000/svg',tag);\n\t\tattr(element,attributes);\n\t\tif (appendTo) {\n\t\t\tappendTo.appendChild(element);\n\t\t}\n\t\treturn element;\n\t}\n\t\n\t// Set attributes for an element\n\tfunction attr(element,attrs) {\n\t\tfor (var i in attrs) {\n\t\t\telement.setAttribute(i,attrs[i]);\n\t\t}\n\t}\n\t\n\t// Rotate a cartesian point about given origin by X degrees\n\tfunction rotatePoint(point, angle, origin) {\n\t\tvar radians = angle * Math.PI/180;\n\t\tvar x = point[0]-origin[0];\n\t\tvar y = point[1]-origin[1];\n\t\tvar x1 = x*Math.cos(radians) - y*Math.sin(radians) + origin[0];\n\t\tvar y1 = x*Math.sin(radians) + y*Math.cos(radians) + origin[1];\n\t\treturn [x1,y1];\n\t}\n\t\n\t// Rotate an array of cartesian points about a given origin by X degrees\n\tfunction rotatePoints(points, angle, origin) {\n\t\treturn points.map(function(point) {\n\t\t\treturn rotatePoint(point, angle, origin);\n\t\t});\n\t}\n\t\n\t// Given an array of points, return an SVG path string representing the shape they define\n\tfunction pointsToPath(points) {\n\t\treturn points.map(function(point, iPoint) {\n\t\t\treturn (iPoint>0?'L':'M') + point[0] + ' ' + point[1];\n\t\t}).join(' ')+'Z';\n\t}\n\t\n\tfunction circleToPath(cx, cy, r) {\n\t\treturn [\n\t\t\t\"M\",cx,\",\",cy,\n\t\t\t\"m\",0-r,\",\",0,\n\t\t\t\"a\",r,\",\",r,0,1,\",\",0,r*2,\",\",0,\n\t\t\t\"a\",r,\",\",r,0,1,\",\",0,0-r*2,\",\",0,\n\t\t\t\"z\"\n\t\t].join(' ').replace(/\\s,\\s/g,\",\");\n\t}\n\t\n\tfunction donutPath(cx,cy,rOuter,rInner) {\n\t\treturn circleToPath(cx,cy,rOuter) + \" \" + circleToPath(cx,cy,rInner);\n\t}\n\t\n\t// Restrict a number to a min + max range\n\tfunction restrictToRange(val,min,max) {\n\t\tif (val < min) return min;\n\t\tif (val > max) return max;\n\t\treturn val;\n\t}\n\t\n\t// Round a number to the nearest 0.5\n\tfunction roundHalf(num) {\n\t\treturn Math.round(num*2)/2;\n\t}\n\t\n\tfunction setClass(el, className, state) {\n\t\tel.classList[state ? 'add' : 'remove'](className);\n\t}\n\t\n\t/*\n\t * The \"MEAT\"\n\t */\n\n\treturn function(targetElement, options) {\n\t\tvar self = this;\n\t\t\n\t\t/*\n\t\t * Options\n\t\t */\n\t\toptions = options || {};\n\t\toptions = {\n\t\t\tdiameter: options.diameter || 400,\n\t\t\tminValue: options.minValue || 4.5, // Minimum value for target temperature\n\t\t\tmaxValue: options.maxValue || 30, // Maximum value for target temperature\n\t\t\tnumTicks: options.numTicks || 200, // Number of tick lines to display around the dial\n\t\t\tonSetTargetTemperature: options.onSetTargetTemperature || function() {}, // Function called when new target temperature set by the dial\n\t\t};\n\t\t\n\t\t/*\n\t\t * Properties - calculated from options in many cases\n\t\t */\n\t\tvar properties = {\n\t\t\ttickDegrees: 300, //  Degrees of the dial that should be covered in tick lines\n\t\t\trangeValue: options.maxValue - options.minValue,\n\t\t\tradius: options.diameter/2,\n\t\t\tticksOuterRadius: options.diameter / 30,\n\t\t\tticksInnerRadius: options.diameter / 8,\n\t\t\thvac_states: ['off', 'heating', 'cooling'],\n\t\t\tdragLockAxisDistance: 15,\n\t\t}\n\t\tproperties.lblAmbientPosition = [properties.radius, properties.ticksOuterRadius-(properties.ticksOuterRadius-properties.ticksInnerRadius)/2]\n\t\tproperties.offsetDegrees = 180-(360-properties.tickDegrees)/2;\n\t\t\n\t\t/*\n\t\t * Object state\n\t\t */\n\t\tvar state = {\n\t\t\ttarget_temperature: options.minValue,\n\t\t\tambient_temperature: options.minValue,\n\t\t\thvac_state: properties.hvac_states[0],\n\t\t\thas_leaf: false,\n\t\t\taway: false\n\t\t};\n\t\t\n\t\t/*\n\t\t * Property getter / setters\n\t\t */\n\t\tObject.defineProperty(this,'target_temperature',{\n\t\t\tget: function() {\n\t\t\t\treturn state.target_temperature;\n\t\t\t},\n\t\t\tset: function(val) {\n\t\t\t\tstate.target_temperature = restrictTargetTemperature(+val);\n\t\t\t\trender();\n\t\t\t}\n\t\t});\n\t\tObject.defineProperty(this,'ambient_temperature',{\n\t\t\tget: function() {\n\t\t\t\treturn state.ambient_temperature;\n\t\t\t},\n\t\t\tset: function(val) {\n\t\t\t\tstate.ambient_temperature = roundHalf(+val);\n\t\t\t\trender();\n\t\t\t}\n\t\t});\n\t\tObject.defineProperty(this,'hvac_state',{\n\t\t\tget: function() {\n\t\t\t\treturn state.hvac_state;\n\t\t\t},\n\t\t\tset: function(val) {\n\t\t\t\tif (properties.hvac_states.indexOf(val)>=0) {\n\t\t\t\t\tstate.hvac_state = val;\n\t\t\t\t\trender();\n\t\t\t\t}\n\t\t\t}\n\t\t});\n\t\tObject.defineProperty(this,'has_leaf',{\n\t\t\tget: function() {\n\t\t\t\treturn state.has_leaf;\n\t\t\t},\n\t\t\tset: function(val) {\n\t\t\t\tstate.has_leaf = !!val;\n\t\t\t\trender();\n\t\t\t}\n\t\t});\n\t\tObject.defineProperty(this,'away',{\n\t\t\tget: function() {\n\t\t\t\treturn state.away;\n\t\t\t},\n\t\t\tset: function(val) {\n\t\t\t\tstate.away = !!val;\n\t\t\t\trender();\n\t\t\t}\n\t\t});\n\t\t\n\t\t/*\n\t\t * SVG\n\t\t */\n\t\tvar svg = createSVGElement('svg',{\n\t\t\twidth: '100%', //options.diameter+'px',\n\t\t\theight: '100%', //options.diameter+'px',\n\t\t\tviewBox: '0 0 '+options.diameter+' '+options.diameter,\n\t\t\tclass: 'dial'\n\t\t},targetElement);\n\t\t// CIRCULAR DIAL\n\t\tvar circle = createSVGElement('circle',{\n\t\t\tcx: properties.radius,\n\t\t\tcy: properties.radius,\n\t\t\tr: properties.radius,\n\t\t\tclass: 'dial__shape'\n\t\t},svg);\n\t\t// EDITABLE INDICATOR\n\t\tvar editCircle = createSVGElement('path',{\n\t\t\td: donutPath(properties.radius,properties.radius,properties.radius-4,properties.radius-8),\n\t\t\tclass: 'dial__editableIndicator',\n\t\t},svg);\n\t\t\n\t\t/*\n\t\t * Ticks\n\t\t */\n\t\tvar ticks = createSVGElement('g',{\n\t\t\tclass: 'dial__ticks'\t\n\t\t},svg);\n\t\tvar tickPoints = [\n\t\t\t[properties.radius-1, properties.ticksOuterRadius],\n\t\t\t[properties.radius+1, properties.ticksOuterRadius],\n\t\t\t[properties.radius+1, properties.ticksInnerRadius],\n\t\t\t[properties.radius-1, properties.ticksInnerRadius]\n\t\t];\n\t\tvar tickPointsLarge = [\n\t\t\t[properties.radius-1.5, properties.ticksOuterRadius],\n\t\t\t[properties.radius+1.5, properties.ticksOuterRadius],\n\t\t\t[properties.radius+1.5, properties.ticksInnerRadius+20],\n\t\t\t[properties.radius-1.5, properties.ticksInnerRadius+20]\n\t\t];\n\t\tvar theta = properties.tickDegrees/options.numTicks;\n\t\tvar tickArray = [];\n\t\tfor (var iTick=0; iTick<options.numTicks; iTick++) {\n\t\t\ttickArray.push(createSVGElement('path',{d:pointsToPath(tickPoints)},ticks));\n\t\t};\n\t\t\n\t\t/*\n\t\t * Labels\n\t\t */\n\t\tvar lblTarget = createSVGElement('text',{\n\t\t\tx: properties.radius,\n\t\t\ty: properties.radius,\n\t\t\tclass: 'dial__lbl dial__lbl--target'\n\t\t},svg);\n\t\tvar lblTarget_text = document.createTextNode('');\n\t\tlblTarget.appendChild(lblTarget_text);\n\t\t//\n\t\tvar lblTargetHalf = createSVGElement('text',{\n\t\t\tx: properties.radius + properties.radius/2.5,\n\t\t\ty: properties.radius - properties.radius/8,\n\t\t\tclass: 'dial__lbl dial__lbl--target--half'\n\t\t},svg);\n\t\tvar lblTargetHalf_text = document.createTextNode('5');\n\t\tlblTargetHalf.appendChild(lblTargetHalf_text);\n\t\t//\n\t\tvar lblAmbient = createSVGElement('text',{\n\t\t\tclass: 'dial__lbl dial__lbl--ambient'\n\t\t},svg);\n\t\tvar lblAmbient_text = document.createTextNode('');\n\t\tlblAmbient.appendChild(lblAmbient_text);\n\t\t//\n\t\tvar lblAway = createSVGElement('text',{\n\t\t\tx: properties.radius,\n\t\t\ty: properties.radius,\n\t\t\tclass: 'dial__lbl dial__lbl--away'\n\t\t},svg);\n\t\tvar lblAway_text = document.createTextNode('AWAY');\n\t\tlblAway.appendChild(lblAway_text);\n\t\t//\n\t\tvar icoLeaf = createSVGElement('path',{\n\t\t\tclass: 'dial__ico__leaf'\n\t\t},svg);\n\t\t\n\t\t/*\n\t\t * LEAF\n\t\t */\n\t\tvar leafScale = properties.radius/5/100;\n\t\tvar leafDef = [\"M\", 3, 84, \"c\", 24, 17, 51, 18, 73, -6, \"C\", 100, 52, 100, 22, 100, 4, \"c\", -13, 15, -37, 9, -70, 19, \"C\", 4, 32, 0, 63, 0, 76, \"c\", 6, -7, 18, -17, 33, -23, 24, -9, 34, -9, 48, -20, -9, 10, -20, 16, -43, 24, \"C\", 22, 63, 8, 78, 3, 84, \"z\"].map(function(x) {\n\t\t\treturn isNaN(x) ? x : x*leafScale;\n\t\t}).join(' ');\n\t\tvar translate = [properties.radius-(leafScale*100*0.5),properties.radius*1.5]\n\t\tvar icoLeaf = createSVGElement('path',{\n\t\t\tclass: 'dial__ico__leaf',\n\t\t\td: leafDef,\n\t\t\ttransform: 'translate('+translate[0]+','+translate[1]+')'\n\t\t},svg);\n\t\t\t\n\t\t/*\n\t\t * RENDER\n\t\t */\n\t\tfunction render() {\n\t\t\trenderAway();\n\t\t\trenderHvacState();\n\t\t\trenderTicks();\n\t\t\trenderTargetTemperature();\n\t\t\trenderAmbientTemperature();\n\t\t\trenderLeaf();\n\t\t}\n\t\trender();\n\n\t\t/*\n\t\t * RENDER - ticks\n\t\t */\n\t\tfunction renderTicks() {\n\t\t\tvar vMin, vMax;\n\t\t\tif (self.away) {\n\t\t\t\tvMin = self.ambient_temperature;\n\t\t\t\tvMax = vMin;\n\t\t\t} else {\n\t\t\t\tvMin = Math.min(self.ambient_temperature, self.target_temperature);\n\t\t\t\tvMax = Math.max(self.ambient_temperature, self.target_temperature);\n\t\t\t}\n\t\t\tvar min = restrictToRange(Math.round((vMin-options.minValue)/properties.rangeValue * options.numTicks),0,options.numTicks-1);\n\t\t\tvar max = restrictToRange(Math.round((vMax-options.minValue)/properties.rangeValue * options.numTicks),0,options.numTicks-1);\n\t\t\t//\n\t\t\ttickArray.forEach(function(tick,iTick) {\n\t\t\t\tvar isLarge = iTick==min || iTick==max;\n\t\t\t\tvar isActive = iTick >= min && iTick <= max;\n\t\t\t\tattr(tick,{\n\t\t\t\t\td: pointsToPath(rotatePoints(isLarge ? tickPointsLarge: tickPoints,iTick*theta-properties.offsetDegrees,[properties.radius, properties.radius])),\n\t\t\t\t\tclass: isActive ? 'active' : ''\n\t\t\t\t});\n\t\t\t});\n\t\t}\n\t\n\t\t/*\n\t\t * RENDER - ambient temperature\n\t\t */\n\t\tfunction renderAmbientTemperature() {\n\t\t\tlblAmbient_text.nodeValue = Math.floor(self.ambient_temperature);\n\t\t\tif (self.ambient_temperature%1!=0) {\n\t\t\t\tlblAmbient_text.nodeValue += '⁵';\n\t\t\t}\n\t\t\tvar peggedValue = restrictToRange(self.ambient_temperature, options.minValue, options.maxValue);\n\t\t\tdegs = properties.tickDegrees * (peggedValue-options.minValue)/properties.rangeValue - properties.offsetDegrees;\n\t\t\tif (peggedValue > self.target_temperature) {\n\t\t\t\tdegs += 8;\n\t\t\t} else {\n\t\t\t\tdegs -= 8;\n\t\t\t}\n\t\t\tvar pos = rotatePoint(properties.lblAmbientPosition,degs,[properties.radius, properties.radius]);\n\t\t\tattr(lblAmbient,{\n\t\t\t\tx: pos[0],\n\t\t\t\ty: pos[1]\n\t\t\t});\n\t\t}\n\n\t\t/*\n\t\t * RENDER - target temperature\n\t\t */\n\t\tfunction renderTargetTemperature() {\n\t\t\tlblTarget_text.nodeValue = Math.floor(self.target_temperature);\n\t\t\tsetClass(lblTargetHalf,'shown',self.target_temperature%1!=0);\n\t\t}\n\t\t\n\t\t/*\n\t\t * RENDER - leaf\n\t\t */\n\t\tfunction renderLeaf() {\n\t\t\tsetClass(svg,'has-leaf',self.has_leaf);\n\t\t}\n\t\t\n\t\t/*\n\t\t * RENDER - HVAC state\n\t\t */\n\t\tfunction renderHvacState() {\n\t\t\tArray.prototype.slice.call(svg.classList).forEach(function(c) {\n\t\t\t\tif (c.match(/^dial--state--/)) {\n\t\t\t\t\tsvg.classList.remove(c);\n\t\t\t\t};\n\t\t\t});\n\t\t\tsvg.classList.add('dial--state--'+self.hvac_state);\n\t\t}\n\t\t\n\t\t/*\n\t\t * RENDER - away\n\t\t */\n\t\tfunction renderAway() {\n\t\t\tsvg.classList[self.away ? 'add' : 'remove']('away');\n\t\t}\n\t\t\n\t\t/*\n\t\t * Drag to control\n\t\t */\n\t\tvar _drag = {\n\t\t\tinProgress: false,\n\t\t\tstartPoint: null,\n\t\t\tstartTemperature: 0,\n\t\t\tlockAxis: undefined\n\t\t};\n\t\t\n\t\tfunction eventPosition(ev) {\n\t\t\tif (ev.targetTouches && ev.targetTouches.length) {\n\t\t\t\treturn  [ev.targetTouches[0].clientX, ev.targetTouches[0].clientY];\n\t\t\t} else {\n\t\t\t\treturn [ev.x, ev.y];\n\t\t\t};\n\t\t}\n\t\t\n\t\tvar startDelay;\n\t\tfunction dragStart(ev) {\n\t\t\tstartDelay = setTimeout(function() {\n\t\t\t\tsetClass(svg, 'dial--edit', true);\n\t\t\t\t_drag.inProgress = true;\n\t\t\t\t_drag.startPoint = eventPosition(ev);\n\t\t\t\t_drag.startTemperature = self.target_temperature || options.minValue;\n\t\t\t\t_drag.lockAxis = undefined;\n\t\t\t},500);\n\t\t};\n\t\t\n\t\tfunction dragEnd (ev) {\n\t\t\tclearTimeout(startDelay);\n\t\t\tsetClass(svg, 'dial--edit', false);\n\t\t\tif (!_drag.inProgress) return;\n\t\t\t_drag.inProgress = false;\n\t\t\tif (self.target_temperature != _drag.startTemperature) {\n\t\t\t\tif (typeof options.onSetTargetTemperature == 'function') {\n\t\t\t\t\toptions.onSetTargetTemperature(self.target_temperature);\n\t\t\t\t};\n\t\t\t};\n\t\t};\n\t\t\n\t\tfunction dragMove(ev) {\n\t\t\tev.preventDefault();\n\t\t\tif (!_drag.inProgress) return;\n\t\t\tvar evPos =  eventPosition(ev);\n\t\t\tvar dy = _drag.startPoint[1]-evPos[1];\n\t\t\tvar dx = evPos[0] - _drag.startPoint[0];\n\t\t\tvar dxy;\n\t\t\tif (_drag.lockAxis == 'x') {\n\t\t\t\tdxy  = dx;\n\t\t\t} else if (_drag.lockAxis == 'y') {\n\t\t\t\tdxy = dy;\n\t\t\t} else if (Math.abs(dy) > properties.dragLockAxisDistance) {\n\t\t\t\t_drag.lockAxis = 'y';\n\t\t\t\tdxy = dy;\n\t\t\t} else if (Math.abs(dx) > properties.dragLockAxisDistance) {\n\t\t\t\t_drag.lockAxis = 'x';\n\t\t\t\tdxy = dx;\n\t\t\t} else {\n\t\t\t\tdxy = (Math.abs(dy) > Math.abs(dx)) ? dy : dx;\n\t\t\t};\n\t\t\tvar dValue = (dxy*getSizeRatio())/(options.diameter)*properties.rangeValue;\n\t\t\tself.target_temperature = roundHalf(_drag.startTemperature+dValue);\n\t\t}\n\t\t\n\t\tsvg.addEventListener('mousedown',dragStart);\n\t\tsvg.addEventListener('touchstart',dragStart);\n\t\t\n\t\tsvg.addEventListener('mouseup',dragEnd);\n\t\tsvg.addEventListener('mouseleave',dragEnd);\n\t\tsvg.addEventListener('touchend',dragEnd);\n\t\t\n\t\tsvg.addEventListener('mousemove',dragMove);\n\t\tsvg.addEventListener('touchmove',dragMove);\n\t\t//\n\t\t\n\t\t/*\n\t\t * Helper functions\n\t\t */\n\t\tfunction restrictTargetTemperature(t) {\n\t\t\treturn restrictToRange(roundHalf(t),options.minValue,options.maxValue);\n\t\t}\n\t\t\n\t\tfunction angle(point) {\n\t\t\tvar dx = point[0] - properties.radius;\n\t\t\tvar dy = point[1] - properties.radius;\n\t\t\tvar theta = Math.atan(dx/dy) / (Math.PI/180);\n\t\t\tif (point[0]>=properties.radius && point[1] < properties.radius) {\n\t\t\t\ttheta = 90-theta - 90;\n\t\t\t} else if (point[0]>=properties.radius && point[1] >= properties.radius) {\n\t\t\t\ttheta = 90-theta + 90;\n\t\t\t} else if (point[0]<properties.radius && point[1] >= properties.radius) {\n\t\t\t\ttheta = 90-theta + 90;\n\t\t\t} else if (point[0]<properties.radius && point[1] < properties.radius) {\n\t\t\t\ttheta = 90-theta+270;\n\t\t\t}\n\t\t\treturn theta;\n\t\t};\n\t\t\n\t\tfunction getSizeRatio() {\n\t\t\treturn options.diameter / targetElement.clientWidth;\n\t\t}\n\t\t\n\t};\n})();\n\n/* ==== */\n(function(scope) {\n    \n    var nest = new thermostatDial(document.getElementById('thermostat-WZ'),{\n    \tonSetTargetTemperature: function(v) {\n    \t\tscope.send({topic: \"target_temperature\", payload: v});\n    \t}\n    });\n\n\n    scope.$watch('msg', function(data) {\n        //console.log(data.topic+\"  \"+data.payload);\n        if (data.topic == \"ambient_temperature\") {\n            nest.ambient_temperature = data.payload;\n        } if (data.topic == \"target_temperature\") {\n            nest.target_temperature = data.payload;\n        } if (data.topic == \"hvac_state\") {\n            nest.hvac_state = data.payload;\n        } if (data.topic == \"has_leaf\") {\n            nest.has_leaf = data.payload;\n        } if (data.topic == \"away\") {\n            nest.away = data.payload;\n        }\n    });\n})(scope);\n\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": false,
        "templateScope": "local",
        "x": 1190,
        "y": 360,
        "wires": [
            [
                "85140bc2.d59878"
            ]
        ]
    },
    {
        "id": "85140bc2.d59878",
        "type": "function",
        "z": "e52db294.b9ad3",
        "name": "target_temperature",
        "func": "if (msg.topic == \"target_temperature\") {\nglobal.set(\"nesttest-target\",msg.payload);\nnode.status({text:msg.payload + \"°C\"});\nreturn msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 1370,
        "y": 380,
        "wires": [
            [
                "f8b3ba64.7c9eb8",
                "6a3fe7ac.d7354"
            ]
        ]
    },
    {
        "id": "f8b3ba64.7c9eb8",
        "type": "function",
        "z": "e52db294.b9ad3",
        "name": "compare temperatures",
        "func": "context.target = context.target || 0.0;\ncontext.sensor = context.sensor || 0.0;\n\nif (msg.topic === 'sensor_temperature') {\n  context.sensor = msg.payload;\n} else if (msg.topic === 'target_temperature') {\n  context.target = msg.payload;\n} \n\nif (context.target > context.sensor) {\n  return {payload: 1};\n} else {\n  return {payload: 0};\n}\nnode.status({text:msg.payload});",
        "outputs": 1,
        "noerr": 0,
        "x": 1600,
        "y": 340,
        "wires": [
            [
                "96dd863e.d7f5b8"
            ]
        ]
    },
    {
        "id": "96dd863e.d7f5b8",
        "type": "function",
        "z": "e52db294.b9ad3",
        "name": "change to heat or not heating color",
        "func": "msg.topic = \"hvac_state\";\nnode.status({text:msg.payload});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1920,
        "y": 340,
        "wires": [
            [
                "22d94c3e.412624"
            ]
        ]
    },
    {
        "id": "6a3fe7ac.d7354",
        "type": "trigger",
        "z": "e52db294.b9ad3",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "payl",
        "duration": "4",
        "extend": true,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "name": "",
        "x": 1560,
        "y": 440,
        "wires": [
            [
                "e350acc6.2fa71"
            ]
        ]
    },
    {
        "id": "f0f9f5e8.b72df",
        "type": "inject",
        "z": "e52db294.b9ad3",
        "name": "leaf true (enables the leaf)",
        "topic": "has_leaf",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "0",
        "x": 390,
        "y": 820,
        "wires": [
            [
                "ef44cd6.84156b"
            ]
        ]
    },
    {
        "id": "4df62675.a1bf1",
        "type": "inject",
        "z": "e52db294.b9ad3",
        "name": "leaf false (disables the leaf)",
        "topic": "has_leaf",
        "payload": "false",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "0",
        "x": 400,
        "y": 860,
        "wires": [
            [
                "ef44cd6.84156b"
            ]
        ]
    },
    {
        "id": "892a8207.33007",
        "type": "inject",
        "z": "e52db294.b9ad3",
        "name": "",
        "topic": "away",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0",
        "x": 560,
        "y": 980,
        "wires": [
            [
                "ef44cd6.84156b"
            ]
        ]
    },
    {
        "id": "3151fa4.d65ba86",
        "type": "inject",
        "z": "e52db294.b9ad3",
        "name": "",
        "topic": "away",
        "payload": "false",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0",
        "x": 570,
        "y": 1020,
        "wires": [
            [
                "ef44cd6.84156b"
            ]
        ]
    },
    {
        "id": "fae98b8d.3f9008",
        "type": "inject",
        "z": "e52db294.b9ad3",
        "name": "inject 21° - targettemperature for the room",
        "topic": "has_leaf",
        "payload": "21",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "x": 250,
        "y": 620,
        "wires": [
            [
                "63750bcc.6fb5bc",
                "c48ef0f1.552aa8"
            ]
        ]
    },
    {
        "id": "e57ad4af.e98c28",
        "type": "inject",
        "z": "e52db294.b9ad3",
        "name": "inject 17° - targettemperature for the room",
        "topic": "has_leaf",
        "payload": "14.5",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "0",
        "x": 240,
        "y": 660,
        "wires": [
            [
                "c48ef0f1.552aa8",
                "63750bcc.6fb5bc"
            ]
        ]
    },
    {
        "id": "de596f00.df0a8",
        "type": "inject",
        "z": "e52db294.b9ad3",
        "name": "inject 19.5° - coming from room temperature sensor",
        "topic": "has_leaf",
        "payload": "19.5",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "x": 360,
        "y": 60,
        "wires": [
            [
                "a66ecd02.cbce88"
            ]
        ]
    },
    {
        "id": "f1bd6b7a.5d4978",
        "type": "inject",
        "z": "e52db294.b9ad3",
        "name": "inject 15° coming from room temperature sensor",
        "topic": "has_leaf",
        "payload": "15",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "0",
        "x": 340,
        "y": 100,
        "wires": [
            [
                "a66ecd02.cbce88"
            ]
        ]
    },
    {
        "id": "798e9cf0.ab4eb4",
        "type": "function",
        "z": "e52db294.b9ad3",
        "name": "README",
        "func": "// README\n//Those here are only for updating the showed\n// thermostat when reopening or switching to this Tab\n",
        "outputs": 1,
        "noerr": 0,
        "x": 440,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "22d94c3e.412624",
        "type": "function",
        "z": "e52db294.b9ad3",
        "name": "README",
        "func": "// README\n// Not used anymore by me\n// I use the open or clodes percentage of my valves\n// can be used to compare the degrees and to decide if heating should be shwon as color\n// (if it is done in real is something else)\n",
        "outputs": 1,
        "noerr": 0,
        "x": 2140,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "3cb25e31.987972",
        "type": "switch",
        "z": "e52db294.b9ad3",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "gte",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1230,
        "y": 200,
        "wires": [
            [
                "a4183bed.5054e"
            ],
            [
                "de1de05.b0626a"
            ]
        ]
    },
    {
        "id": "a4183bed.5054e",
        "type": "template",
        "z": "e52db294.b9ad3",
        "name": "Heizen OFF",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "off",
        "output": "str",
        "x": 1410,
        "y": 140,
        "wires": [
            [
                "75fc8d64.ca1674"
            ]
        ]
    },
    {
        "id": "de1de05.b0626a",
        "type": "template",
        "z": "e52db294.b9ad3",
        "name": "Heizen ON",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "heating",
        "output": "str",
        "x": 1410,
        "y": 220,
        "wires": [
            [
                "75fc8d64.ca1674"
            ]
        ]
    },
    {
        "id": "75fc8d64.ca1674",
        "type": "function",
        "z": "e52db294.b9ad3",
        "name": "hvac_state",
        "func": "global.set(\"nesttest-state\",msg.payload);\n\nmsg.topic = \"hvac_state\";\nnode.status({text:msg.payload});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1590,
        "y": 180,
        "wires": [
            [
                "ef44cd6.84156b"
            ]
        ]
    },
    {
        "id": "65538b82.baf594",
        "type": "inject",
        "z": "e52db294.b9ad3",
        "name": "",
        "topic": "homeland/haushalt/heizung/Wohnzimmer_Thermostat/humidity",
        "payload": "off",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "0",
        "x": 1460,
        "y": 60,
        "wires": [
            [
                "75fc8d64.ca1674"
            ]
        ]
    },
    {
        "id": "3d67787f.877b98",
        "type": "inject",
        "z": "e52db294.b9ad3",
        "name": "",
        "topic": "homeland/haushalt/heizung/Wohnzimmer_Thermostat/humidity",
        "payload": "heating",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "0",
        "x": 1460,
        "y": 20,
        "wires": [
            [
                "75fc8d64.ca1674"
            ]
        ]
    },
    {
        "id": "b4a6d539.9ac648",
        "type": "inject",
        "z": "e52db294.b9ad3",
        "name": "Injects 75 as an number for an open valve percentage",
        "topic": "homeland/haushalt/heizung/Wohnzimmer_Thermostat/humidity",
        "payload": "75",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "0",
        "x": 1040,
        "y": 40,
        "wires": [
            [
                "3cb25e31.987972"
            ]
        ]
    },
    {
        "id": "aeab8e82.8afb4",
        "type": "inject",
        "z": "e52db294.b9ad3",
        "name": "Injects 0 as closed valve percentage",
        "topic": "homeland/haushalt/heizung/Wohnzimmer_Thermostat/humidity",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "0",
        "x": 980,
        "y": 80,
        "wires": [
            [
                "3cb25e31.987972"
            ]
        ]
    },
    {
        "id": "e350acc6.2fa71",
        "type": "function",
        "z": "e52db294.b9ad3",
        "name": "Place MQTT Output",
        "func": "// README\n//Those here are only for updating the showed\n// thermostat when reopening or switching to this Tab\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1760,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "5ad76916.224f18",
        "type": "function",
        "z": "e52db294.b9ad3",
        "name": "replace by MQTT input",
        "func": "",
        "outputs": 1,
        "noerr": 0,
        "x": 310,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "748abcbf.5cd654",
        "type": "function",
        "z": "e52db294.b9ad3",
        "name": "replace by MQTT input",
        "func": "",
        "outputs": 1,
        "noerr": 0,
        "x": 270,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "10d2716a.25134f",
        "type": "function",
        "z": "e52db294.b9ad3",
        "name": "replace by MQTT input",
        "func": "",
        "outputs": 1,
        "noerr": 0,
        "x": 570,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "188179f9.91f976",
        "type": "ui_group",
        "z": "",
        "name": "Room NestTest",
        "tab": "8eb746c6.641128",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "8eb746c6.641128",
        "type": "ui_tab",
        "z": "",
        "name": "NestTest",
        "icon": "dashboard"
    }
]